[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
django-countries = "*"
django-seed = "==0.2.2"
django-dotenv = "*"
requests = "*"
pipenv-to-requirements = "*"

[dev-packages]
django = "*"
flake8 = "*"
black = "*"
awsebcli = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
